* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fffaf4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}